<div class="col-md-12">
  <div class="page-header">
    <h2>New Project</h2>
  </div>

  <%= render 'form', project: @project %>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <%= link_to icon_tag('glyphicon-chevron-left') + ' Back', projects_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
