<div class="col-md-12">
  <div class="agent-settings">
    <ul class="nav nav-pills nav-stacked">
      <h2>
        Regres ALL projects
      </h2>
      <hr>
      <% @results.each do |rs| %>
        <%= render partial: 'scenarios/result', locals: {rs: rs} %>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <%= link_to icon_tag('glyphicon-ok-circle') + ' Done', projects_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
